<template lang="pug">
    div(class="container")
        vi-form(:submitCb="onSubmit")
            template(slot="f-inputs")
                div(class="row")
                    div(class="col-6")
                        vi-input(label="Fullname" :model.sync="searchParams.full_name")
                        vi-input(label="Address" :model.sync="searchParams.address")
                        vi-input(label="Phone" :model.sync="searchParams.phone")
                    div(class="col-6")
                        vi-date-input(label="Eff. date from" :model.sync="searchParams.eff_date_from")
                        vi-date-input(label="Eff. date to" :model.sync="searchParams.eff_date_to")
                        vi-select(label="Dept." :options="departments" :model.sync="searchParams.department")
                        vi-select(label="Sex" :options="sexs" :model.sync="searchParams.sex")
            template(slot="f-buttons")
                button(class="btn btn-success" type="button" @click="openModalNewUser")
                    | New user

        vi-modal(title="Create new user" eleId="new-user")
            template(slot="m-inputs")
                vi-form(:submitCb='submitModal' submitLbl='Submit' :resetForm='true')
                    template(slot="f-inputs")
                        vi-input(label="Fullname" :model.sync="editModal.full_name" :is-required="true")
                        vi-date-input(label="Birthday" :model.sync="editModal.birthday" )
                        vi-input(label="Address" :model.sync="editModal.address" :is-required="true")
                        vi-input(label="Phone" :model.sync="editModal.phone" :is-required="true")
                        vi-radio(label="Sex" :model.sync="editModal.sex" :options="sexs")
                        vi-date-input(label="Effective date" :model.sync="editModal.effective_date")
                        vi-date-input(label="Expire date" :model.sync="editModal.expire_date")
                        vi-select(label="Department" :model.sync="editModal.department" :options="departments" )
                        vi-input(label="Skill tags" :model.sync="editModal.skill_tags" :is-required="true")
                        vi-select(label="Type" :model.sync="editModal.type" :options="types")
                        vi-input(label="Note" :model.sync='editModal.note')

</template>

<script lang="ts">
import { defineComponent, inject, reactive, ref, useContext } from "@nuxtjs/composition-api"
import axios from 'axios'
import appConst from '@/constants'
import dayjs from "~/node_modules/dayjs"
import cash from 'cash-dom'

export default defineComponent({
    setup() {
        const context = useContext()
        const searchParams = ref([])
        const departments = inject('departments')
        const sexs = inject('sexs')
        const types = inject('types')

        const onSubmit = async () => {
            let url = appConst.apiUrl + '/users'
            let params:any = {...searchParams.value}
            if (params.eff_date_form != null)
            {
                params.eff_date_form = dayjs(params.eff_date_form).format('DD/MM/YYYY')
            }
            console.log(searchParams.value)
            let res = await axios.get(url , {
                params: params
            })
            console.log(res)
            if (res && res.data.length > 0)
            {
                context.store.commit('SET_USERS', res.data)
            }

        }

        const editModal = ref({
            id: 0,
            full_name: '',
            birthday: new Date(),
            address: '',
            phone: '',
            sex: 1,
            image: '',
            effective_date: new Date(),
            expire_date: new Date(),
            department: 0,
            skill_tags: '',
            type: 0,
            note: ''
        })

        const openModalNewUser = () => {
            cash('#modal-new-user').css('display', 'block')
        }

        const submitModal = async () => {
            let params = {...editModal.value, 
                birthday: dayjs(editModal.value.birthday).format('YYYY/MM/DD'),
                effective_date: dayjs(editModal.value.effective_date).format('YYYY/MM/DD'),
                expire_date: dayjs(editModal.value.expire_date).format('YYYY/MM/DD')
            }
            let res = await axios.post(appConst.apiUrl + '/users', params)

            context.store.dispatch('addUser', res.data)
        }

        return { searchParams, onSubmit, departments, sexs, openModalNewUser, editModal, submitModal, types }
    }
})
</script>
