<template lang="pug">
    div()
        vi-table(:headers="fields" :data.sync="loadedUsers")
            template(v-slot:actions="{item}")
                div(class="flex flex-nowrap p-1")
                    button(class="btn btn-primary items-center mr-2" @click="editBtn(item)")
                        EditIcon
                    button(class="btn btn-danger items-center mr-2" @click="deleteBtn(item)")
                        Trash2Icon

        vi-modal(title="Edit user" eleId="edit-user")
            template(slot="m-inputs")
                vi-form(:submitCb='onSubmit' submitLbl='Submit' :resetForm='true')
                    template(slot="f-inputs")
                        vi-input(label="Fullname" :model.sync="editModal.full_name" :is-required="true")
                        vi-date-input(label="Birthday" :model.sync="editModal.birthday" )
                        vi-input(label="Address" :model.sync="editModal.address" :is-required="true")
                        vi-input(label="Phone" :model.sync="editModal.phone" :is-required="true")
                        vi-radio(label="Sex" :model.sync="editModal.sex" :options="sexs")
                        vi-date-input(label="Effective date" :model.sync="editModal.effective_date")
                        vi-date-input(label="Expire date" :model.sync="editModal.expire_date")
                        vi-select(label="Department" :model.sync="editModal.department" :options="departments" )
                        vi-input(label="Skill tags" :model.sync="editModal.skill_tags" :is-required="true")
                        vi-select(label="Type" :model.sync="editModal.type" :options="types")
                        vi-input(label="Note" :model.sync='editModal.note')
</template>

<script lang='ts'>
import { computed, defineComponent, inject, ref, useContext } from '@nuxtjs/composition-api'
import axios from 'axios'
import appConst from '@/constants'
import cash from 'cash-dom'
import dayjs from 'dayjs'

export default defineComponent({
    props: {
        users: {
            type: Array
        }
    },
    setup(props) {
        const departments = inject('departments')
        const sexs = inject('sexs')
        const types = inject('types')
        const context = useContext()
        const loadedUsers = computed(() => {
            return props.users
        })

        const fields = ref([
            { field: 'id', label: '', sortable: false },
            { field: 'full_name', label: 'Full name', sortable: true },
            { field: 'department', label: 'Department', sortable: true, maskData: departments},
            { field: 'image', label: 'Image', sortable: false},
            { field: 'birthday', label: 'Birthday', sortable: true },
            { field: 'address', label: 'Address' },
            { field: 'effective_date', label: 'Eff. date', sortable: true},
            { field: 'expire_date', label: 'Ex. date', sortable: true},
            // { field: 'actions', label: 'Actions'}
        ])

        const editModal = ref({
            id: 0,
            full_name: '',
            birthday: new Date(),
            address: '',
            phone: '',
            sex: 1,
            image: '',
            effective_date: new Date(),
            expire_date: new Date(),
            department: 0,
            skill_tags: '',
            type: 0,
            note: '',
            created_at: new Date(),
            updated_at: new Date(),
            deleted_at: new Date()
        })

        const editBtn = async (item: any) => {
            let res = await axios.get(appConst.apiUrl + '/users/' + item.id)
            editModal.value = {...res.data,
                birthday: new Date(res.data.birthday),
                effective_date: new Date(res.data.effective_date),
                expire_date: new Date(res.data.expire_date),
            }


            cash('#modal-edit-user').css('display', 'block')
        }

        const onSubmit = async () => {
            let params = {...editModal.value, 
                birthday: dayjs(editModal.value.birthday).format('YYYY/MM/DD'),
                effective_date: dayjs(editModal.value.effective_date).format('YYYY/MM/DD'),
                expire_date: dayjs(editModal.value.expire_date).format('YYYY/MM/DD'),
                updated_at: dayjs(editModal.value.updated_at).format('YYYY/MM/DD')
            }

            let res = await axios.put(appConst.apiUrl + '/users/' + editModal.value.id, params)

            context.store.dispatch('loadUsers')
        }

        const deleteBtn = async (item: any) => {
            let res = await axios.delete(appConst.apiUrl + '/users/' + item.id)

            context.store.dispatch('removeUser', item.id)
        }

        return {
            loadedUsers,
            fields, 
            editBtn, editModal,
            onSubmit, deleteBtn,
            sexs, departments, types
        }
    }
})
</script>