<template lang="pug">
    div()
        Nuxt()
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
    setup() {
        
    },
})
</script>
