<template lang='pug'>
  div()
    nav(class="navbar navbar-dark bg-dark")
      div(class="container")
        div(class="navbar-header")
          span(class="navbar-brand")
            | ComApi
        ul(class="navbar navbar-nav navbar-right")
          li(v-if="$auth.loggedIn")
            span(class="p-2 text-white")
              | {{ $auth.user.full_name }}
            a(class="btn btn-outline-warning" @click="logout")
              | Logout

          li(v-else)
            a(href="/login" class="btn btn-outline-warning mr-2")
              | Login
            
    Nuxt()
</template>

<script lang="ts">
import { defineComponent, useContext } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    const {$auth} = useContext()

    const logout = async () => {
      $auth.logout()
    }

    console.log($auth.$storage)
    return { logout }
  },
})
</script>
