<template lang="pug">
  div(class="container")
      h2(class="text-center")
        | {{ appName }}
      div(class="row my-3")
        search-form()

      div(v-if="loadedUsers.length > 0")
        user-table(:users="loadedUsers")
      div(v-else)
        | Loading users...

</template>

<script lang="ts">
import { defineComponent, inject, onMounted, reactive, ref, useContext, watch } from '@nuxtjs/composition-api'


export default defineComponent({
  setup(props) {
    const appName = ref('User Management (NuxtJS ComApi)')
    const loadedUsers = ref([])
    const context = useContext()
    onMounted(() => {
      context.store.dispatch('loadUsers')
    })
    loadedUsers.value = context.store.getters['getLoadedUsers']

    watch(() => context.store.state.loadedUsers, (newVal, oldVal) => {
      loadedUsers.value = newVal
    })

    return { appName, loadedUsers }
  },
})
</script>

<style>
</style>
