<template lang="pug">
    div(class="container")
        h2(class="text-center")
            | Login
        vi-form(:submitCb="onSubmit" class="w-25 m-auto")
            template(slot="f-inputs")
                vi-input(label="Email" :model.sync="loginForm.email" :is-required="true")
                vi-input(label="Password" :model.sync="loginForm.password" :is-required="true" inputType="password")
</template>

<script lang="ts">
import { defineComponent, ref, useContext } from '@nuxtjs/composition-api'

export default defineComponent({
    layout: 'auth',
    setup() {
        const { $auth, $axios } = useContext()
        const loginForm = ref({
            email: '',
            password: ''
        })

        const onSubmit = async () => {
            let res: any = await $auth.loginWith('laravelJWT', {
                data: loginForm.value
            })
            $axios.setHeader('Authorization', res.data.access_token)
            $axios.setToken(res.data.access_token, res.data.token_type)
            console.log(res)
        }

        return { loginForm, onSubmit }
    },
})
</script>
