<template lang="pug">
    div(class="w-50 m-auto")
        //- vi-form(:submitCb='submit' submitLbl='Submit' :resetForm='true')
        //-     vi-input(label="Fullname" :model.sync="fakeData.full_name" :is-required="true")
        //-     vi-select(label="Derpt" :model.sync="fakeData.department" :options="department" )
        //-     vi-date-input(label="Birthday" :model.sync="fakeData.birthday")
        //-     vi-radio(label="Sex" :model.sync="fakeData.sex" :options="sex")
            

        //- div(class="p-2 border")
        //-     h2() Form data
        //-     p() Fullname: {{ fakeData.full_name }}
        //-     p() Department: {{ formDept }}
        //-     p() Birthday: {{ birthday }}

        vi-modal(eleId="3" title="A custom modal")
            template(slot="m-inputs")
                vi-form(:submitCb='submit' submitLbl='Submit' :resetForm='true')
                    template(slot="f-inputs")
                        vi-input(label="Fullname" :model.sync="fakeData.full_name" :is-required="true")
                        vi-select(label="Derpt" :model.sync="fakeData.department" :options="department" )
                        vi-date-input(label="Birthday" :model.sync="fakeData.birthday")
                        vi-radio(label="Sex" :model.sync="fakeData.sex" :options="sex")

        button(type="button" @click="openModal")
            | Click to open
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, useContext } from '@nuxtjs/composition-api'
import dayjs from 'dayjs'
import axios from 'axios'
import { User, VTableHeader } from '@/types/model'
import cash from 'cash-dom'

export default defineComponent({
    middleware: 'auth',
    setup() {
        const context = useContext()
        
        const fakeData = reactive({
            full_name: 'John Doe',
            department: 2,
            birthday: new Date('07/02/1996'),
            sex: 1
        })
        const submit = () => {
            console.log(fakeData)
        }

        const department = [
            {value: 1, text: 'Web'},
            {value: 2, text: 'iOS'},
            {value: 3, text: 'Android'}
        ]

        const sex = [
            {value: 1, text: 'Male'},
            {value: 2, text: 'Female'}
        ]

        const formDept = computed(() => {
            return department.find((d: any) => d.value == fakeData.department)?.text
        })

        const birthday = computed(() => {
            return dayjs(fakeData.birthday).format('DD/MM/YYYY')
        })

        const userData = ref<any>([])

        const getUserData = async () => {
            let rs = await axios.get('http://localhost:8000/api/users')
            if (rs && rs.data)
            {
                userData.value = rs.data
            }
        }
        getUserData()

        const headers = [
            { field: 'full_name', label: 'Fullname'},
            { field: 'address', label: 'Address'},
            { field: 'birthday', label: 'Birthday'},
            { field: 'sex', label: 'Sex'}
        ]

        const openModal = () => {
            cash('#modal-3').css('display', 'block')
        }


        return { submit, fakeData, department, formDept, birthday, sex, 
                userData, headers, openModal }
    },
})
</script>
