<template lang="pug">
    div(class="form-group")
        label()
            | {{ _label }}
        div(class="w-full")
            date-picker(v-model.trim="_model"  :formatter="momentFormat")
</template>

<script lang="ts">
import { computed, defineComponent, ref } from '@nuxtjs/composition-api'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import dayjs from 'dayjs'

export default defineComponent({
    components: {
        DatePicker
    },
    props: {
        label: String,
        model: Date
    },
    setup(props, {emit}) {
        const _label = computed(() => {
            return props['label'] || ''
        })

        const _model = computed({
            get(): Date {
                return props['model'] || new Date()
            },
            set(val: Date) {
                emit('update:model', val)
            }
        })

        // Use moment.js instead of the default
        const momentFormat = {
            //[optional] Date to String
            stringify: (date: any) => {
                return date ? dayjs(date).format('DD/MM/YYYY') : ''
            },
            //[optional]  String to Date
            parse: (value: any) => {
                return value ? dayjs(value, 'DD/MM/YYYY').toDate() : null
            }
        }


        return { _label, _model, momentFormat }
    },
})
</script>

<style scoped>

</style>