<template lang="pug">
    form(@submit.prevent='_submitCb' class="")
        slot(name="f-inputs")
        div(class="float-left")
            slot(name="f-buttons")
        div(class="float-right")
            button(v-if="_resetForm" type='button' @click='_resetValue = !_resetValue' class="btn btn-warning mx-2")
                span()
                | {{ _cancelLbl }}
            button(type='submit' class="btn btn-primary")
                span()
                | {{ _submitLbl }}
</template>

<script lang="ts">
import { computed, defineComponent, provide, ref } from '@nuxtjs/composition-api'

export default defineComponent({
    props: {
        submitCb: {
            type: Function
        },
        submitLbl: {
            type: String
        },
        cancelCb: {
            type: Function
        },
        cancelLbl: {
            type: String
        },
        resetForm: {
            type: Boolean
        }
    },
    setup(props) {
        const _submitCb = computed(() => {
            if (!props['submitCb']) {
                return () => {
                    console.log('default submit callback')
                }
            }

            return props['submitCb']
        })

        const _submitLbl = computed(() => {
            return props['submitLbl'] || 'Submit'
        })

        const _cancelCb = computed(() => {
            if (!props['cancelCb']) {
                return () => {
                    console.log('default cancel callback')
                }
            }

            return props['cancelCb']
        })

        const _cancelLbl = computed(() => {
            return props['cancelLbl'] || 'Cancel'
        })

        const _resetForm = computed(() => {
            if (props['resetForm'] && (props['resetForm'] == true || props['resetForm'] == 'true'))
            {
                return true
            }

            return false
        })

        const _resetValue = ref(false)

        provide('resetValue', _resetValue)

        return { _submitCb, _submitLbl, _cancelCb, _cancelLbl, _resetForm, _resetValue }
    },
})
</script>

<style scoped>
form{
    width: 100%;
}
</style>