<template lang="pug">
    div(class="form-group" v-if="inputType == 'input' || inputType == 'password'")
        label()
            | {{ _label }}
        input( v-model.trim="_model" :required="_isRequired" class="form-control" :type="inputType")
</template>

<script lang="ts">
import { computed, defineComponent, inject, ref, watch } from '@nuxtjs/composition-api'

export default defineComponent({
    props: {
        isRequired: {
            type: Boolean
        },
        label: {
            type: String
        },
        model: String,
        inputType: {
            type: String,
            default: 'input'
        }
    },
    setup(props, { emit }) {
        const resetValue = inject('resetValue', ref(false))

        const _isRequired = computed(() => {
            return props['isRequired'] || false
        })

        const _label = computed(() => {
            return props['label'] || ''
        })

        const _model = computed({
            get():string {
                if (props['model'] != undefined)
                    return props['model']
                return ''
            },
            set(value: string) {
                emit('update:model', value)
            }
        })

        watch(resetValue, () => {
            _model.value = ''
        })

        return { _isRequired, _label, _model }
    },
})
</script>
