<template lang="pug">
    div()
        div(:id="'modal-'+eleId" class="modal" @click="onBackDrop($event.target)")
            div(class="modal-content")
                div(class="modal-header")
                  h2(class="modal-title")
                    | {{ _title }}
                  button(type="button" class="close" @click="closeModal")
                    span(aria-hidden="true")
                      | &times;
                div(class="modal-body")
                  slot(name="m-inputs")
                div(class="modal-footer")
                  slot(name="m-buttons")
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import cash from 'cash-dom'

export default defineComponent({
    props: {
        eleId: {
            type: String,
            default: '1'
        },
        title: {
            type: String,
            default: 'Modal'
        }
    },
    setup(props) {
        const _title = ref(props.title)

        // const openModal = () => {
        //     cash('#modal-' + props.eleId).css('display', 'block')
        // }

        const closeModal = () => {
            cash('#modal-' + props.eleId).css('display', 'none')
        }

        const onBackDrop = (e: any) => {
            if (cash(e).prop('id') == 'modal-' + props.eleId)
            {
                cash('#modal-' + props.eleId).css('display', 'none')
            }
        }

        return { _title, closeModal, onBackDrop }
    },
})
</script>

<style scoped>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
</style>