<template lang="pug">
    div(class='form-group')
        label()
            | {{ _label }}
        div(v-for="(item, index) in options"
            class='form-check')
            input(
                v-model="_model"
                :value="item.value"
                :id="radioId + index"
                class='form-check-input'
                type='radio')
            label(:for="radioId + index" class='form-check-label')
                | {{ item.text }}
</template>

<script lang="ts">
import { computed, defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
    props: {
        label: String,
        options: Array,
        model: Number
    },
    setup(props, {emit}) {

        const radioId = "r" + (Date.now() % 1000)

        const _label = computed(() => {
            return props['label'] || ''
        })

        const _model = computed({
            get() : Number {
                return props['model'] || 0
            },
            set(val: Number) {
                emit('update:model', val)
            }
        })

        return { _label, _model, radioId }
    },
})
</script>
