<template lang="pug">
    div(class="form-group")
        label()
            | {{ _label }}
        select(v-model="_model" class="form-control")
            option(value="0")
                | {{ placeholder }}
            option(
                v-for="(item, index) in options"
                v-bind:key="item.value"
                :value="item.value"
            )
                | {{ item.text }}
</template>

<script lang="ts">
import { computed, defineComponent } from '@nuxtjs/composition-api'


export default defineComponent({
    props: {
        label: String,
        options: Array,
        model: Number,
        placeholder: {
            type: String,
            default: "Please select"
        }
    },
    setup(props, {emit}) {
        const _label = computed(() => {
            return props['label'] || ''
        })

        const _model = computed({
            get(): Number {
                let val: Number = 0
                if (props['model'])
                {
                    val = props['model']
                }
                return val
            },
            set(val: Number) {
                emit('update:model', val)
            }
        })

        return { _label  , _model }
    },
})
</script>
