<template lang="pug">
    div()
        table(class="table")
            thead
                tr
                    th(v-for="(h, i) in _headers" v-if="h.label != ''" scope="col" :class="h.sortable?'sortable':''" @click="changeSort(h)")
                        | {{ h.label }}
                        span(class="sortable" v-if="h.sortable === true")
                            ChevronDownIcon
                    th(v-if="hasActionCol" scope="col")
            tbody
                tr(v-for="(d, i) in _data" v-bind:key="i")
                    td(v-for="(field, fk) in d" v-bind:key="fk" v-if="_nonHiddenFields.includes(fk)")
                        template(v-if="fk=='image' && field!=''")
                            img(:src="field" class="img-fluid img-thumbnail" @click="downloadImage")
                        template(v-else)
                            | {{ field }}
                    td(v-if="hasActionCol")
                        slot(name="actions" :item="d")
            tfoot
                nav(aria-label="Page navigation example")
                    ul(class="pagination")
                        li(class="page-item"
                            :class="{'disabled': paginate.firstPage == paginate.currentPage}"
                            @click="changePage('first')")
                            button(class="page-link")
                                ChevronsLeftIcon
                        li(class="page-item"
                            :class="{'disabled': (paginate.currentPage - 1) <= 0}"
                            @click="changePage('prev')")
                            button(class="page-link")
                                ChevronLeftIcon

                        li(class="page-item active"
                            )
                            button(class="page-link")
                                span()
                                    | {{ paginate.currentPage }}

                        li(class="page-item"
                            :class="{'disabled': (paginate.currentPage + 1) > paginate.lastPage}"
                            @click="changePage('next')")
                            button(class="page-link")
                                ChevronRightIcon
                        li(class="page-item"
                            :class="{'disabled': paginate.lastPage == paginate.currentPage}"
                            @click="changePage('last')")
                            button(class="page-link")
                                ChevronsRightIcon
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, useContext, watch } from '@nuxtjs/composition-api'
import { VTableHeader } from '@/types/model/table'
import _, { curry } from 'lodash'

export default defineComponent({
    props: {
        headers: Array,
        data: {
            type: Array,
            default: []
        }
    },
    setup(props, { emit, slots }) {
        const { $auth } = useContext()
        const isAscSort = ref(true)
        const sortField = ref('')

        const hasActionCol = computed(() => {
            return slots.actions ? true:false
        })

        const _headers: VTableHeader[] = reactive([])
        props.headers?.forEach((head: any) => {
            _headers.push({
                field: head.field,
                label: head.label,
                maskData: head.maskData,
                sortable: head.sortable,
                isHidden: head.label == '' ? true : false
            })
        })

        const paginate = reactive({
            currentPage: 1,
            totalItems: 0,
            firstPage: 1,
            lastPage: 0,
            pageCount: 0,
            perPage: 3,
            offset: 0
        })

        const initPaginate = () => {
            paginate.currentPage = 1
            paginate.totalItems = props.data.length
            paginate.pageCount = Math.ceil(paginate.totalItems / paginate.perPage)

            paginate.firstPage = 1

            paginate.lastPage = paginate.pageCount

            paginate.offset = (paginate.perPage * paginate.currentPage) - paginate.perPage
        }

        const _data = computed({
            get(): any {
                let rows = props['data'].map((d: any) => {
                    return getPropertiesFromObject(d, _headers.map((h: any) => h.field))
                })
                _headers.forEach((h: VTableHeader) => {
                    if (h.maskData != undefined || h.maskData != null)
                    {
                        rows.forEach((r: any) => {
                            let obj:any = h.maskData.find((m: any) => m.value === r[h.field])
                            r[h.field] = obj.text
                        })
                    }
                })
                
                if (sortField.value != '')
                {
                    rows = _.orderBy(rows, sortField.value, isAscSort.value ? 'asc':'desc')
                }
                
                rows = rows.slice(paginate.offset, paginate.offset + paginate.perPage)
                
                return rows
            },
            set(val: any) {
                emit('update:model', val)
            }
        })

        const _nonHiddenFields = computed(() => {
            return _headers.filter((h: any) => {
                if (h.isHidden != true)
                {
                    return h.field
                }
            }).map((h: any) => {
                return h.field
            })
        })

        const getPropertiesFromObject = (obj: any, keys: any) => {
                return Object.assign({}, ...keys.map((key: any) => ({
                    [key]: obj[key]
                }))
            )
        }

        const changeSort = (header: any) => {
            // need check before sort
            sortField.value = header['field']
            isAscSort.value = !isAscSort.value
        }

        
        initPaginate()

        const changePage = (page: number|string) => {
            if ((page == 'first' || page == 'prev') && paginate.currentPage == 1)
                return false
            if ((page == 'last' || page == 'next') && paginate.currentPage == paginate.lastPage)
                return false

            if (page == 'prev')
            {
                paginate.currentPage = Math.max(paginate.firstPage, paginate.currentPage - 1)
            }
            if (page == 'first')
            {
                paginate.currentPage = paginate.firstPage
            }

            if (page == 'next')
            {
                paginate.currentPage = Math.min(paginate.lastPage, paginate.currentPage + 1)
            }
            if (page == 'last')
            {
                paginate.currentPage = paginate.lastPage
            }

            paginate.offset = (paginate.perPage * paginate.currentPage) - paginate.perPage
        }

        const downloadImage = () => {
            if (!$auth.loggedIn)
                return false
            
            if ($auth.user?.is_admin != 1)
            {
                console.log('Not allowed to download')
            }
        }

        return { _headers, _data, changeSort, hasActionCol, _nonHiddenFields, paginate, changePage, downloadImage }
    },
})
</script>

<style scoped>
.sortable{
    cursor: pointer;
}

ul.pagination li.page-item span{
    line-height: 24px;
    vertical-align: middle;
}

td, th{
    vertical-align: middle;
}
</style>
